*__pycache__/
*.env*
.DS_Store
.venv
.vscode/launch.json
static/
!transcendence/static/
transcendence/static/*
!transcendence/static/fonts/
!transcendence/static/saved_ai/
!transcendence/static/favicon.ico
node_modules
ai/myenv/
coverage/
