{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block navbar %}{% include "navbar.html" %}{% endblock %}

<div class="container x-auto my-4">
	<div class="row">
		<div class="col user-list">
			<h3>Users</h3>
			<ul class="m-0 p-0" style="list-style-type: none;">
				{% for user in users %}
				<li>
					<button href="#" class="btn btn-outline-secondary btn-sm me-1 user-chat" data-user-id="{{ user.id }}">
						<img src="{{ user.profile_picture.url }}" class="rounded-circle" style="max-width: 20px;">
						{{ user.name|default:user.username }}
					<span class="status-icon">
						{% if user.id not in blocked_users %}
						{% if user.online %}
						&#x1F7E2; <!-- Green circle -->
						{% else %}
						&#x26AA; <!-- White circle -->
						{% endif %}
						{% else %}
						&#x1F534; <!-- Red circle -->
						{% endif %}
					</span>
					{% if user.id not in blocked_users %}
					<button class="btn btn-danger btn-sm block-user" data-user-id="{{ user.id }}">Block</button>
					{% else %}
					<button class="btn btn-outline-danger btn-sm unblock-user" data-user-id="{{ user.id }}">Unblock</button>
					{% endif %}
					<button class="btn btn-outline-success btn-sm invite-user" data-user-id="{{ user.id }}">Invite to Pong</button>
					<button class="btn btn-outline-primary btn-sm view-profile" data-user-id="{{ user.id }}">View Profile</button>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col chat-messages">
			<h3>Chat</h3>
			<div id="message-history"></div>
			<form id="chat-form" style="display: none;">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Type your message..." id="chat-message">
					<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="{% static '/js/chat.js' %}"></script>

{% block footer %}{% include "footer.html" %}{% endblock %}

{% endblock %}