{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block navbar %}{% include "navbar.html" %}{% endblock %}

<div class="container x-auto my-4">
	<div class="row">
		<div class="col-4 user-list">
			<h3>Users</h3>
			<ul class="rounded bg-dark-subtle m-0 p-3" style="list-style-type: none;">
				{% for user in users %}
				<li>
					<button href="#" class="btn btn-transparent btn-sm me-1 user-chat" data-user-id="{{ user.id }}">
						<img src="{{ user.profile_picture.url }}" class="rounded-circle" style="max-width: 20px;">
						{{ user.name|default:user.username }}
					<span class="status-icon">
						{% if user.id not in blocked_users %}
						{% if user.online %}
						&#x1F7E2; <!-- Green circle -->
						{% else %}
						&#x26AA; <!-- White circle -->
						{% endif %}
						{% else %}
						&#x1F534; <!-- Red circle -->
						{% endif %}
					</span>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-8 chat-messages">
			<div class="d-flex align-items-start">
				<h3>Chat</h3>
				<span class="mb-2 ms-2 p-1 badge rounded-pill bg-danger">
					99+
					<span class="visually-hidden">Unread messages</span>
				</span>
			</div>
			<div class="rounded m-0 p-3" style="background-color: var(--bs-dark-bg-subtle);">
				<div class="rounded p-3" style="background-color: var(--bs-light-bg-subtle);" id="message-history"></div>
				<div id="chat-form-div" style="display: none;">
					<form id="chat-form" class="d-flex mt-2">
						<input type="text" class="form-control me-1" placeholder="Type your message..." id="chat-message">
						<button class="btn btn-primary" type="submit" id="button-addon2">Send</button>
					</form>
					<div class="mt-2">
						{% if user.id not in blocked_users %}
						<button class="btn btn-danger block-user" data-user-id="{{ user.id }}">Block</button>
						{% else %}
						<button class="btn btn-danger unblock-user" data-user-id="{{ user.id }}">Unblock</button>
						{% endif %}
						<button class="btn btn-success invite-user" data-user-id="{{ user.id }}">Invite to Pong</button>
						<button class="btn btn-primary view-profile" data-user-id="{{ user.id }}">View Profile</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static '/js/chat.js' %}"></script>

{% block footer %}{% include "footer.html" %}{% endblock %}

{% endblock %}