<h2>Invite {% if mode == 'TOURNAMENT' %}Friends{% else %}a Friend{% endif %}</h2>
<form id="invite-form" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="friends">Choose {% if mode == 'TOURNAMENT' %}friends{% else %}a friend{% endif %}</label>
        <select id="friends" name="friends" class="form-control" {% if mode == 'TOURNAMENT' %}multiple{% endif %}>
            <!-- Users will be loaded here -->
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Invite</button>
</form> 