<h2 id="invite-heading">Invite {% if mode == 'TOURNAMENT' %}Friends{% else %}a Friend{% endif %}</h2>
<form id="invite-form" method="post" action="{% url 'invite_friends' room_id=room.room_id %}" 
      hx-post="{% url 'invite_friends' room_id=room.room_id %}" hx-target="#dynamic-content" 
      hx-swap="innerHTML" hx-push-url="true" aria-labelledby="invite-heading">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="friends" id="friends-label">Choose {% if mode == 'TOURNAMENT' %}friends{% else %}a friend{% endif %}</label>
        <select id="friends" name="friends" class="form-control" {% if mode == 'TOURNAMENT' %}multiple{% endif %}
                aria-labelledby="friends-label" aria-describedby="friends-description"
                aria-required="true" aria-multiselectable="{% if mode == 'TOURNAMENT' %}true{% else %}false{% endif %}">
            <!-- Users will be loaded here -->
        </select>
        <small id="friends-description" class="form-text text-muted">
            {% if mode == 'TOURNAMENT' %}
            Select multiple friends by holding down the Ctrl (or Command) key.
            {% else %}
            Choose one friend to invite to the game.
            {% endif %}
        </small>
    </div>
    
    <button type="submit" class="btn btn-primary mt-3" 
            aria-label="Send invite to selected friend(s)"
            aria-disabled="false" 
            role="button">
        Invite
    </button>
</form>
