<section id="mode-selection" class="my-5" aria-labelledby="mode-selection-heading">
    <h2 id="mode-selection-heading">Choose Game Mode</h2>
    <form id="mode-form" method="post" onsubmit="return false;" aria-labelledby="mode-selection-heading" role="form">
        {% csrf_token %}

        <div class="mb-3 form-check" role="group" aria-labelledby="webgl-toggle-label">
            <input type="checkbox" class="form-check-input" id="webgl-toggle" aria-describedby="retro-look-description"
                role="checkbox" v-on:change="handleWebGLToggle">
            <label class="form-check-label" for="webgl-toggle" id="webgl-toggle-label">Enable retro look (WebGL)</label>
            <small id="retro-look-description" class="form-text text-muted">
                Enabling the retro look will switch the game to a nostalgic visual style using WebGL.
            </small>
        </div>

        <div v-if="[[owner.id === currentUser.id && state === 'LOBBY']]" class="form-group mb-3" role="group"
            aria-labelledby="game-mode-label">
            <label for="game-mode" id="game-mode-label">Game Mode</label>
            <select id="game-mode" name="mode" class="form-control" v-model="mode" v-on:change="handleModeChange"
                aria-labelledby="game-mode-label" aria-describedby="game-mode-description"
                :disabled="owner.id !== currentUser.id" role="combobox" aria-haspopup="listbox">
                <option value="AI" role="option">AI Mode</option>
                <option value="LOCAL" role="option">Local Mode</option>
                <option value="CLASSIC" role="option">Classic Mode</option>
                <option value="TOURNAMENT" role="option">Tournament Mode</option>
            </select>
            <small id="game-mode-description" class="form-text text-muted">
                Choose a mode for your game: AI for playing against the computer, Local for shared-screen game, 
                Classic for a standard online match, or Tournament for a multi-round online competition.
            </small>
        </div>
        <div class="mt-3" role="group" aria-labelledby="controls-heading">
            <h3 id="controls-heading" class="h5">Game Controls</h3>
            <p class="mb-1">Left paddle's control: use "W" and "S" to move up and down</p>
            <p>Right paddle's control (Only in local mode): use ↑ and ↓ to move up and down</p>
          </div>
    </form>
</section>