<section v-if="pongRoom.currentUser.id === pongRoom.owner.id" id="mode-selection" class="my-5">
    <h2>Choose Game Mode</h2>
    <form id="mode-form" method="post" onsubmit="return false;">
        {% csrf_token %}
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="webgl-toggle">
            <label class="form-check-label" for="webgl-toggle">Enable retro look (WebGL)</label>
        </div>
        <div class="form-group mb-3">
            <label for="mode">Game Mode</label>
            <select id="mode" name="mode" class="form-control" v-on:change="pongRoom.changeMode">
                <option value="">Select a mode</option>
                <option value="AI">AI</option>
                <option value="CLASSIC">Classic</option>
                <option value="RANKED">Ranked</option>
                <option value="TOURNAMENT">Tournament</option>
            </select>
        </div>
    </form>
</section>
<section v-else id="current-mode" class="my-5">
    <h2>Current Game Mode: <span v-text="pongRoom.mode"></span></h2>
    {% include "pong/components/game_settings.html" %}
</section>