{% extends 'base.html' %}

{% block title %}AI Training{% endblock %}

{% block content %}

{% block navbar %}{% include "ui.html" %}{% endblock %}

<div class="container my-4" id="training-form" aria-labelledby="training-heading">
    <h1 id="training-heading" class="text-center mb-4">Manage the AI for Pong</h1>

    <!-- Grid Layout -->
    <div class="row">
        <!-- Left Column: Form and Options -->
        <div class="col-md-4">
            <form id="training-options" class="mb-3" aria-label="AI Training Options">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="ai_name">AI's Name</label>
                    <input type="text" id="ai_name" name="ai_name" class="form-control" placeholder="AI Name" required aria-required="true">
                </div>
                <div class="mb-2">
                    <label for="nb_generation">Number of Generations (1-10)</label>
                    <input type="number" id="nb_generation" name="nb_generation" class="form-control" min="1" max="10"
                        value="1">
                </div>
                <div class="mb-2">
                    <label for="nb_species">Number of Species (50-100)</label>
                    <input type="number" id="nb_species" name="nb_species" class="form-control" min="50" max="100"
                        value="50">
                </div>
                <div class="mb-2">
                    <label for="time_limit">Simulated time Limit (5-60 minutes)</label>
                    <input type="number" id="time_limit" name="time_limit" class="form-control" min="5" max="60"
                        value="5">
                </div>
                <div class="mb-2">
                    <label for="max_score">Max Score (50-500)</label>
                    <input type="number" id="max_score" name="max_score" class="form-control" min="50" max="500"
                        value="50">
                </div>
                <button type="button" class="btn btn-primary w-100 mb-3" id="train-ai-btn" aria-label="Start AI Training">Start Training</button>
                <div class="form-floating mb-2">
                    <select id="saved-ai-dropdown" class="form-select" aria-label="Select AI to delete">
                        <option value="" disabled selected>Select AI to delete</option>
                    </select>
                    <label for="saved-ai-dropdown">Select Saved AI</label>
                </div>
                <button type="button" class="btn btn-danger w-100" id="delete-ai-btn" aria-label="Delete selected AI">Delete AI</button>
            </form>
        </div>

        <!-- Right Column: Training Log -->
        <div class="col-md-8">
            <div id="managing-log" class="alert alert-info" role="status" aria-live="polite" aria-atomic="true">
                AI manager's log:
                
            </div>
        </div>
    </div>
</div>

{% endblock %}