{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Transcendence{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'vendor.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100" data-config-id="app-config">
    {{ config|json_script:"app-config" }}
    <main class="flex-grow-1" id="content">
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
    {% if not request.htmx %}
    {% include "footer.html" %}
    {% endif %}
    {% endblock %}
</body>

<script type="module" src="{% static 'main.js' %}"></script>

</html>