{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

{% block navbar %}{% include "ui.html" %}{% endblock %}

<div class="container x-auto my-4" id="change-password-form" role="region"
	aria-labelledby="change-password-form-heading">
	<h1 class="h1 fw-bold" id="change-password-form-heading">Change Password</h1>
	<form method="post" hx-post="{% url 'change-password' %}" hx-target="#content" hx-swap="outerHTML"
		hx-push-url="true" enctype="multipart/form-data" aria-labelledby="change-password-form-heading"
		aria-describedby="form-instructions">
		<div id="form-instructions" class="sr-only">Please fill out all fields to change your password</div>
		{% csrf_token %}
		{% for field in form %}
		<div class="form-floating my-3">
			{{ field }}
			<label for="{{ field.id_for_label }}" id="label-{{ field.id_for_label }}">{{ field.label }}</label>
			{% if field.errors %}
			<div class="alert alert-{{ message.tags }} my-2" role="alert"
				aria-live="assertive" aria-atomic="true">
				<ul class="m-0 p-0" style="list-style-type: none;">
					{% for error in field.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		{% endfor %}
		<button class="btn btn-primary" id="btn" type="submit" 
			aria-label="Change Password"
			aria-describedby="submit-instructions">Change password</button>
		<div id="submit-instructions" class="sr-only">Click to save your new password</div>
	</form>
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }} my-2" role="alert"
		aria-live="assertive" aria-atomic="true">
		<p class="m-0">{{ message }}</p>
	</div>
	{% endfor %}
	{% endif %}
</div>

{% endblock %}