{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h1>Change Password</h1>
<div id="change-password-form">
    <form method="post" hx-post="{% url 'change-password' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true" enctype="multipart/form-data" hx-headers='{"Authorization": "Bearer {{ access_token }}"}'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change password</button>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}