{% extends 'base.html' %}

{% block title %}Games History{% endblock %}

{% block content %}

{% block navbar %}{% include "ui.html" %}{% endblock %}
<style>
    
</style>
<div id="demo" class="container x-auto my-4">
    &nbsp; &nbsp;
    <h1>Games History</h1>
	<h3>Played: {{ total_games }} | Wins: {{ wins }} | Losses: {{ losses }} | Winrate: {{ winrate }} %</h3>
    <div>
		<table id="table" class="table" aria-label="Games history table">
			<thead>
			<tr>
				<th scope="col" aria-label="Opponent">V/S</th>
				<th scope="col" aria-label="Your score">Your Score</th>
				<th scope="col" aria-label="Opponent score">Opponent Score</th>
				<th scope="col" aria-label="Game start time">Created At</th>
				<th scope="col" aria-label="Game end time">Finished At</th>
			</tr>
			</thead>
			<tbody>
			{% for games in games_history %}
			<tr>
				<td>
					{% if not games.player1 or not games.player2 and games.player2_is_ai%}
						AI
					{% elif not games.player1 or not games.player2%}
						Guest
					{% elif games.player1 != request.user %}
						{{ games.player1.username }}
					{% else %}
						{{ games.player2.username }}
					{% endif %}
				</td>
				<td>
					{% if games.player1 != request.user %}
						{{ games.player2_score }}
					{% else %}
						{{ games.player1_score }}
					{% endif %}
				</td>
				<td>
					{% if games.player1 != request.user %}
						{{ games.player1_score }}
					{% else %}
						{{ games.player2_score }}
					{% endif %}
				</td>
				<td>{{ games.created_at|date:"M. d, Y, H:i" }}</td>
                <td>{{ games.finished_at|date:"M. d, Y, H:i" }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
    <br/><br/><br/>
    <br/><br/><br/>
    <h1>Tournament History</h1>
	<h3>Played: {{ total_tournies_player }} | Wins: {{ total_wins_player }} | Losses: {{ total_losses_player }} | Winrate: {{ wr_tourny }} %</h3>
    <div>
		<table id="table" class="table" aria-label="Tournament history table">
			<thead>
			<tr>
				<th scope="col" aria-label="Tournament name">Tournament Name</th>
				<th scope="col" aria-label="Number of wins">Wins</th>
				<th scope="col" aria-label="Number of losses">Losses</th>
				<th scope="col" aria-label="Total points">Points</th>
			</tr>
			</thead>
			<tbody>
                {% for tourny in player_rankings %}
                <tr>
                    <td>{{ tourny.tournament.name }}</td>
                    <td>{{ tourny.stats.wins }}</td>
                    <td>{{ tourny.stats.losses }}</td>
                    <td>{{ tourny.stats.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
		</table>
    </div>

{% endblock %}