{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<header>
    <ul>
        <li><a href="#" hx-get="{% url 'profile' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true" hx-headers='{"Authorization": "Bearer {{ access_token }}"}'>Profile</a></li>
        <li><a href="#" hx-get="{% url 'settings' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true" hx-headers='{"Authorization": "Bearer {{ access_token }}"}'>Settings</a></li>
        <li><a href="#" hx-get="{% url 'logout' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true" hx-headers='{"Authorization": "Bearer {{ access_token }}"}'>Logout</a></li>
    </ul>
</header>
<div id="index">
    <h1>I am Index File</h1>
</div>
{% endblock %}