{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% block navbar %}{% include "navbar-login.html" %}{% endblock %}

<div class="container x-auto my-4" id="login-form">
	<h1>Login</h1>
    <form method="post" hx-post="{% url 'login' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="/index" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
		<div class="form-floating my-3">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
		</div>
        {% endfor %}
        <button class="btn btn-outline-primary" type="submit">Login</button>
        <button class="btn btn-outline-secondary" type="button" hx-get="{% url 'login-2fa' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Login with 2FA</button>
        <button class="btn btn-outline-danger" href="#" hx-get="{% url 'forgot-password' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Forgot Password</button>
    </form>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} my-2">
            <p class="m-0">{{ message }}</p>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}