{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div id="login-form">
    <form method="post" hx-post="{% url 'login' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="/index" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <button type="button" hx-get="{% url 'login-2fa' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Login with 2FA</button>
        <a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-8f8046fc8003d0e62f974ed9e6b3b49afb9037b4bcc536177154ecd6d297573a&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fcallback&response_type=code"><button type="button">Login with 42 API</button></a>
        <p><a href="#" hx-get="{% url 'forgot-password' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Forgot Password</a></p>
    </form>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
