{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% block navbar %}{% include "navbar-login.html" %}{% endblock %}

<div class="container x-auto my-4" id="login-2fa-form">
    <h1>2FA</h1>
    <form method="post" hx-post="{% url 'login-2fa' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating my-3">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                    <div class="alert alert-{{ message.tags }} my-1">
                        <ul class="m-0 p-0" style="list-style-type: none;">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-outline-primary" type="submit">Login</button>
    </form>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} my-2">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% endif %}
</div>

{% block footer %}{% include "footer.html" %}{% endblock %}

{% endblock %}