<div id="modal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" v-on:click="hideModal(2)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row align-items-center">
					<div class="col-4 text-center">
						<img :src="profile.profile_picture" 
							class="rounded-circle img-fluid mb-3" 
							alt="Photo de profil"
							style="max-width: 100px;">
						<div class="d-block">
							<h6 class="mb-0" v-text="profile.username">userName</h6>
						</div>
					</div>
					<div class="col-8">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Played games
								<span class="badge bg-secondary" v-text="profile.totalGames">totalGame</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Wins
								<span class="badge bg-success" v-text="profile.wins">wins</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Winrate
								<span class="badge bg-info" v-text="profile.winRate">winRate</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>