<nav class="navbar navbar-expand bg-dark navbar-dark" data-bs-theme="dark">
	<div class="container-xxl">
		<a class="navbar-brand" href="#" hx-get="{% url 'index' %}" hx-target="#content" hx-swap="outerHTML"
			hx-push-url="true">42</a>
		<ul class="navbar-nav">
			<div class="nav-item dropdown">
				<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="{{ user.profile_picture.url }}" class="rounded-circle" style="max-width: 30px;">
				</button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li>
						<a class="dropdown-item" href="#" hx-get="{% url 'profile' %}" hx-target="#content"
							hx-swap="outerHTML" hx-push-url="true">Edit</a>
					</li>
					<li>
						<a class="dropdown-item" href="#" hx-get="{% url 'settings' %}" hx-target="#content"
							hx-swap="outerHTML" hx-push-url="true">Settings</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<a class="dropdown-item" href="#" hx-get="{% url 'logout' %}" hx-target="#content"
							hx-swap="outerHTML" hx-push-url="true">Logout</a>
					</li>
				</ul>
			</div>
		</ul>
	</div>
</nav>