{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
  <h2>Set New Password</h2>
  <form method="post" hx-post="{% url 'forgot-password' %}?uid={{ uid }}&token={{ token }}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="uid" value="{{ uid }}">
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit">Reset my password</button>
  </form>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
