{% extends "base.html" %}

{% block title %}Set Password{% endblock %}

{% block content %}
  <h2>Set New Password</h2>
  <form method="post" hx-post="{% url 'set-password' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true" enctype="multipart/form-data" hx-headers='{"Authorization": "Bearer {{ access_token }}"}'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset my password</button>
  </form>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
