{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<header>
    <ul>
        <li><a href="#" hx-get="{% url 'profile' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Profile</a></li>
        <li><a href="#" hx-get="{% url 'settings' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Settings</a></li>
        <li><a href="#" hx-get="{% url 'logout' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Logout</a></li>
    </ul>
</header>
<div id="settings">
    <h1>Settings</h1>
    <ul>
        <li><a href="#" hx-get="{% url 'change-password' %}" hx-target="#content" hx-swap="outerHTML" hx-push-url="true" hx-headers='{"Authorization": "Bearer {{ access_token }}"}'>Change Password</a></li>
    </ul>
</div>
{% endblock %}