{% extends 'base.html' %}
{% load chat_tags %}

{% block title %}Settings{% endblock %}

{% block content %}

{% block navbar %}{% include "navbar.html" %}{% endblock %}

<div class="container x-auto my-4" id="settings" role="region" aria-labelledby="settingsHeading">
	<h1 id="settings-heading">Settings</h1>
	<div class="m-0 pt-3">
		<h3 id="accountHeading">Account</h3>
		<ul class="m-0 p-0" style="list-style-type: none;">
			{% if user.password is not None %}
			<li>
				<button class="btn btn-primary" href="#" hx-get="{% url 'change-password' %}" hx-target="#content"
					hx-swap="outerHTML" hx-push-url="true" aria-label="Change Password">Change Password</button>
			</li>
			{% else %}
			<li>
				<button class="btn btn-primary" href="#" hx-get="{% url 'set-password' %}" hx-target="#content"
					hx-swap="outerHTML" hx-push-url="true" aria-label="Set Password">Set Password</button>
			</li>
			{% endif %}
		</ul>
	</div>
	<div class="m-0 pt-3">
		<h3 id="displayHeading">Display</h3>
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" role="switch" id="toggleFontSizeBtn"
				aria-labelledby="fontSizeLabel">
			<label class="form-check-label" for="toggleFontSizeBtn" id="fontSizeLabel">Increase font size</label>
		</div>
	</div>
</div>

{% block chat %}{% render_chat %}{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}

{% endblock %}