{% extends 'base.html' %}

{% block title %}Pong Room{% endblock %}

{% block content %}

{% block navbar %}{% include "ui.html" %}{% endblock %}

<div id="pong-room" class="container x-auto my-4" data-domain="room" aria-label="Pong game room">
	<div class="offcanvas offcanvas-end" tabindex="-1" id="room-status" aria-label="Room status information">
		<div class="offcanvas-header">
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close chat"></button>
        </div>
		<div id="room-status" class="offcanvas-body">
			<div id="room-state" class="mb-4" aria-label="Room status information">
				{% include "pong/components/room_state.html" %}
			</div>
			{% include "pong/components/game_settings.html" %}
		</div>
	</div>
	<div id="dynamic-content" aria-live="polite">
		{% include "pong/components/game.html" %}
	</div>
	<div class="card-footer d-flex justify-content-around">
		<button id="leaveGameBtn" class="btn btn-danger" hx-get="{% url 'pong' %}" hx-target="#content"
			hx-swap="outerHTML" hx-push-url="true" aria-label="Leave the game">
			Leave
		</button>
		<button id="startGameBtn" v-if="canStartGame && owner.id === currentUser.id" v-on:click="startGame" type="button"
			class="btn btn-lg btn-primary" aria-label="Start the game">
			<span>Start</span>
		</button>
		<button id="startGameBtn" v-else v-on:click="startGame" type="button"
			class="btn btn-lg btn-primary disabled" aria-label="Start the game">
			<span>Start</span>
		</button>
		<button class="btn btn-lg btn-secondary" data-bs-toggle="offcanvas" href="#room-status" role="button" aria-controls="Room Status Offcanvas Button">
			Settings
		</button>
    </div>
</div>

<style>
    @media (max-width: 768px) {
        main {
            flex-direction: column;
        }

        main>div {
            margin-right: 0 !important;
            margin-bottom: 2rem;
        }
    }
</style>

{% endblock %}